@charset "UTF-8";

@media (min-width: 1200px) {

div#menu .col-lg-2 {
        width: 45%;
    }

a.navbar-brand img {
    max-width: 100% !important;
}

nav#headerComp {
    min-height: auto !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav#headerComp .container {
margin-left: 0 !important;
max-width: -webkit-fill-available; 
}
}

/* gia diorthosi tou ogibiz menu */
.pad-10 p{
 padding: 0px 10%;
 line-height: 180%!important;
}
.custom-header .navbar-brand{
     margin-top: 0px!important;
}
.slideshow-container .author {
    color: var(--color1)!important;
}
.navbar-brand {
 padding: 2px 15px!important;
}
.navbar-brand img {
 max-height: 100px!important;
 max-width: 130%!important;
}
@media all and (max-width: 767px){
.navbar-brand img {
   max-width: 122%!important;
}
 /*#contact .col-lg-6:nth-child(1) {
    display: none;
 }*/
 .content-block,.content-block-new{
   padding-top:20px;
 }
 #menu .mobile-menu.mobile-menu-open {
    margin-top: -100px!important;
    right:17px!important;
 }
#menu .mobile-menu.mobile-menu-open .menu_Open{
  padding-top: 50px;
}
 .mobile-menu {
    margin-top: -100px!important;
    right:17px!important;
 }
 nav#headerComp {
     width: 100%!important;
 }
 .col-lg-2.col-md-2.col-sm-2.width100.vw100.mobile-menu-logo {
    width: 100%!important;
 }
}
.more-information-section[style*="background-color: rgba(40,51,71,0.9);"] .container{
  max-width:100%!important;
  padding:0px!important;
}
.more-information-section[style*="background-color: rgba(40,51,71,0.9);"] .container .col-lg-12{
  padding:0px!important;
}
.more-information-section[style*="background-color: rgba(40,51,71,0.9);"] .container .row{
 margin:0px!important;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-container > div {
 width:300px;
 margin:10px;
 text-align:center;
}
/* gia diorthosi tou ogibiz menu */
