/** @section Schedule */

.col-sm-4 {
    width: 100%;
}

.col-sm-7 {
    width: 100%;
}

.schedule {
    color: #ffffff;
}

.schedule .schedule-item-body {
    padding: 24px 30px 40px;
    transition: .2s ease-in-out;
}

.schedule .btn {
    padding: 16px 37px;
}

.schedule hr {
    margin-top: 13px;
    background: #5d79b8;
    opacity: .2;
}

.schedule .schedule-more {
    width: 100%;
    transition: .2s ease-in-out;
}

@media (min-width: 768px) {
    .schedule .schedule-more {
        position: absolute;
        bottom: 0;
        pointer-events: none;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}

.schedule .schedule-item-body {
    background: #3557a6;
}

.schedule .schedule-item {
    position: relative;
}

.schedule .schedule-item.light .schedule-item-body {
    background: #3b61b9;
}

@media (min-width: 768px) {
    .schedule .schedule-item.first .schedule-item-body {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .schedule .schedule-item.last .schedule-item-body {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .schedule .schedule-item .schedule-item-body {
        max-height: 286px;
        height: 286px;
    }
    .schedule .schedule-item:hover .schedule-item-body {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .schedule .schedule-item:hover .schedule-more {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        pointer-events: all;
        opacity: 1;
    }
    .schedule .schedule-item:hover .schedule-item-body {
        -webkit-transform: translateY(-60px);
        transform: translateY(-60px);
    }
}

.tablet .schedule-item-body,
.mobile .schedule-item-body {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.tablet .schedule-more,
.mobile .schedule-more {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
}

.tablet .schedule-item-body,
.mobile .schedule-item-body {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}



.bg-default-liac {
    background-color: #F1F3F9;
}

.bg-default-liac:not([style*="background-"])+.bg-default-liac:not([style*="background-"]) {
    padding-top: 0;
}

    .section-lg-top-85 {
        padding-top: 85px;
    }

.section-top-50 {
    padding-top: 50px;
}

    .row-lg-70 {
        margin-bottom: -70px;
    }
    .row-lg-70:empty {
        margin-bottom: 0;
    }
    .row-lg-70>* {
        margin-bottom: 70px;
    }

.row-30 {
    margin-bottom: -30px;
}

.row-30:empty {
    margin-bottom: 0;
}

.row-30>* {
    margin-bottom: 30px;
}

[data-isotope-layout] .row.g-0 {
    margin-bottom: 0;
}

[data-isotope-layout] .row.g-0>[class*="col-"] {
    margin-top: 0;
    margin-bottom: 0;
}


@media (min-width: 768px) {
    .div-lg-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
}


@media (min-width: 768px) {
    *+.offset-lg-top-0 {
        margin-top: 0;
    }
    *+.offset-lg-top-34 {
        margin-top: 34px;
    }
    *+.offset-lg-top-60 {
        margin-top: 60px;
    }
    *+.offset-lg-top-66 {
        margin-top: 66px;
    }
}

*+.offset-top-0 {
    margin-top: 0;
}

*+.offset-top-8 {
    margin-top: 8px;
}

*+.offset-top-4 {
    margin-top: 4px;
}

*+.offset-top-10 {
    margin-top: 10px;
}

*+.offset-top-14 {
    margin-top: 14px;
}

*+.offset-top-16 {
    margin-top: 16px;
}

*+.offset-top-18 {
    margin-top: 18px;
}

*+.offset-top-20 {
    margin-top: 20px;
}

*+.offset-top-24 {
    margin-top: 24px;
}

*+.offset-top-30 {
    margin-top: 30px;
}

*+.offset-top-34 {
    margin-top: 34px;
}

*+.offset-top-41 {
    margin-top: 41px;
}

*+.offset-top-50 {
    margin-top: 50px;
}

*+.offset-top-55 {
    margin-top: 55px;
}

*+.offset-top-60 {
    margin-top: 60px;
}

*+.offset-top-66 {
    margin-top: 66px;
}

*+.offset-top-90 {
    margin-top: 90px;
}

*+.offset-top-98 {
    margin-top: 98px;
}

*+.offset-top-110 {
    margin-top: 110px;
}

*+.offset-top-124 {
    margin-top: 124px;
}

*+.offset-top-130 {
    margin-top: 130px;
}

@media (min-width: 1200px) {
    html .page .offset-lg-top-34-negative {
        margin-top: -34px;
    }
}

@media (min-width: 480px) {
    .section-sm-top-34 {
        padding-top: 34px;
    }
}

@media (min-width: 1800px) {
    .section-xxl-top-34 {
        padding-top: 34px;
    }
}

@media (min-width: 768px) {
    .section-lg-top-34 {
        padding-top: 34px;
    }
}
  
.d-inline-block {
    display: inline-block !important;
}


@media (min-width: 480px) {
    *+.offset-sm-top-0 {
        margin-top: 0;
    }
    *+.offset-sm-top-8 {
        margin-top: 8px;
    }
    *+.offset-sm-top-10 {
        margin-top: 10px;
    }
    *+.offset-sm-top-24 {
        margin-top: 24px;
    }
    *+.offset-sm-top-30 {
        margin-top: 30px;
    }
    *+.offset-sm-top-60 {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    *+.offset-sm-top-0 {
        margin-top: 0;
    }
    *+.offset-sm-top-8 {
        margin-top: 8px;
    }
    *+.offset-sm-top-10 {
        margin-top: 10px;
    }
    *+.offset-sm-top-24 {
        margin-top: 24px;
    }
    *+.offset-sm-top-30 {
        margin-top: 30px;
    }
    *+.offset-sm-top-60 {
        margin-top: 60px;
    }
}

.btn-java {
    color: #ffffff;
    background-color: #23D5AE;
    border-color: #23D5AE;
}

.btn-java.focus,
.btn-java:focus,
.btn-java:hover,
.btn-java:active,
.btn-java.active,
.open>.btn-java.dropdown-toggle {
    color: #ffffff !important;
    background-color: #294481;
    border-color: #294481;
}

.btn-java.active,
.open>.btn-java.dropdown-toggle {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}

.btn-java.active:focus,
.btn-java.active.focus,
.open>.btn-java.dropdown-toggle:focus,
.open>.btn-java.dropdown-toggle.focus {
    color: #ffffff;
    background-color: #294481;
    border-color: #294481;
}

.btn-java.disabled,
.btn-java[disabled],
fieldset[disabled] .btn-java {
    pointer-events: none;
    opacity: .5;
}

.btn-java .badge {
    color: #23D5AE;
    background-color: #ffffff;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-rect {
    border-radius: 0;
}

a.btn.btn-java.btn-block.btn-rect {
    text-transform: uppercase;
}

/** To column ID allazei kathe fora */

@media (max-width: 1199px) {
div#column_2950177 {
    margin-top: -50px;
}
}

@media (min-width: 1200px) {
div#column_2950177 {
    margin-top: -150px;
}
}
